LLM_API_KEY=XXX
LLM_API_BASE=XXX
MODEL=XXX



AIRTABLE_API_KEY=XXX
AIRTABLE_BASE_ID=XXX
AIRTABLE_OFFERS_TABLE_ID=XXX
AIRTABLE_SOURCES_TABLE_ID=XXX

JUSTJOIN_EMAIL=XXX
JUSTJOIN_PASSWORD=XXX
PRACUJ_EMAIL=XXX
PRACUJ_PASSWORD=XXX
